<body id="page-top">

    <app-header [codigodane]="codigodane" [password]=[password]></app-header>
    <!--OBJETIVO - PARTICIPANTES-->

    <section id="objetivo">
        <div id="bg-objetivo-left" class="background"></div>
        <div id="bg-objetivo-right" class="background"></div>
        <div class="container container-fluid">
            <div class="row p-1">
                <div class="col-md-12 p-2 text-center">
                    <h1 style="color:#004594">PREMIO AL BACHILLER COMFAMILIAR 2022</h1>
                </div>
            </div>
            <div class="row p-1">
                <div class="col-md-12 text-left p-2 bg-white txt-objetivo">
                    <div class="">
                        <ngb-carousel *ngIf="images">
                            <ng-template ngbSlide>
                                <div class="picsum-img-wrapper">
                                    <img [src]="images[0]" alt="">
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="objetivo">
        <div class="container container-fluid">
            <div class="row p-1">
                <div class="col-md-12 text-left p-2 bg-white txt-objetivo">
                    <div class="">
                        <h4>Objetivo</h4>
                        <p class="txt-1">Reconocer y apoyar económicamente de manera anual a un bachiller del
                            departamento de Risaralda que se destaque por su formación integral, rendimiento académico y
                            liderazgo, para que pueda realizar una carrera que otorgue un título profesional, convocando
                            a las Instituciones educativas públicas y privadas de enseñanza media del departamento, para
                            que postulen un estudiante destacado por jornada académica.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--OBJETIVO - PARTICIPANTES-->
    <section id="proceso" class="bg-azul" style="background-color: #032875 !important;">
        <div class="container container-fluid">
            <div style="height: 60px"></div>
            <div class="row">
                <div class="col col-md-12">
                    <div class="bloque-radio bg-white p-3 mb-4">
                        <h4>Proceso de Inscripción</h4>
                        <ul class="p-3">
                            <li>
                                <p>La Institución Educativa postulará por jornada, el estudiante que reúne los
                                    requisitos y
                                    adjuntará los respectivos documentos de acuerdo con el reglamento y la convocatoria.
                                </p>
                            </li>
                            <li>
                                <p>A través de la página web <a
                                        href="https://bachiller.comfamiliar.com/">bachiller.comfamiliar.com</a>, se
                                    recibirán las postulaciones
                                    con sus respectivos soportes.</p>
                            </li>
                            <li>
                                <p>La Caja de Compensación validará previo a la elección, el cumplimiento de lo
                                    establecido
                                    en el reglamento y habilitará los estudiantes que reúnan los requisitos para entrar
                                    en
                                    la elección del Premio al Bachiller.</p>
                            </li>
                            <li>
                                <p>La plataforma del Premio al Bachiller, asignará el número consecutivo, de acuerdo al
                                    ingreso de fecha del registro del estudiante con sus documentos. Este número será el
                                    que
                                    identifique al estudiante el día del sorteo.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12">
                    <div class="bloque-radio bg-white p-3 bloque-col-mb mb-4">
                        <h4>Proceso de Preselección</h4>
                        <p class="txt-1">En la medida de recepción de inscripción de postulantes ante Comfamiliar
                            Risaralda, se asigna un número consecutivo, número que corresponderá a la
                            balota con que se realizará el sorteo el día de la ceremonia de premiación, la cual
                            será depositada en una urna de cristal en presencia de la mesa principal.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12">
                    <div class="bloque-radio bg-white p-3 bloque-col-mb">
                        <h4>Proceso de Elección</h4>
                        <p class="txt-1">Asignado el respectivo número por estudiantes postulados, se procederá a
                            realizar la elección mediante el mecanismo habilitado para el sorteo, en presencia de
                            estudiantes, acompañantes, entes de control interno, delegados de las Secretarías de
                            Educación y representantes de la Caja de Compensación.</p>
                        <p class="txt-1">El proceso de elección se deja evidenciado mediante acta con firma del ente de
                            control interno y la administración.</p>
                    </div>
                </div>
            </div>
            <div style="height: 60px"></div>
        </div>
    </section>

    <!--RECURSOS-->
    <section id="recursos" class="bg-amarillo recursos" style="background-color: #f8c62e !important;">
        <div class="container container-fluid">
            <div class="row pt-5 pb-5">
                <div class="col-md-12">
                    <h4>Legalización de los Recursos</h4>
                    <p class="txt-1">La legalización inicia con la presentación física o por correo de la liquidación de
                        la matrícula por parte de la Universidad a nombre del estudiante con la respectiva cuenta
                        bancaria; una vez validados los soportes, Comfamiliar Risaralda efectúa la transacción dejando
                        el registro en el archivo del estudiante. Este proceso se adelantará semestral o anualmente, de
                        acuerdo al periodo de la carrera.</p>
                </div>
            </div>
        </div>
    </section>

    <!--OBLIGACIONES-->
    <section id="obligaciones" class="bg-white obligaciones">
        <div class="container container-fluid">
            <div class="row pt-5 pb-5">
                <div class="col-md-12">
                    <h4>Obligaciones del Beneficiario</h4>
                    <p class="txt-1">Los beneficiarios de la beca, tienen como requisito:</p>
                    <ul>
                        <li>Asistir al taller de orientación vocacional programado por Comfamiliar Risaralda.</li>
                        <li>Matricular, cursar y aprobar los créditos de acuerdo al plan de estudios según carrera
                            elegida.</li>
                        <li>Al finalizar cada periodo, el beneficiario deberá actualizar la información para la
                            renovación de la beca de acuerdo al calendario académico.</li>
                        <li>Suministrar información veraz y oportuna para verificar su situación académica.</li>
                        <li>Autorizar a Comfamiliar Risaralda, para el tratamiento de la información personal con el fin
                            de verificar las condiciones de permanencia y todo aquello que se relacione con el objeto de
                            la beca.</li>
                        <li>Informar por escrito a Comfamiliar Risaralda, cualquier novedad presentada, relacionada con
                            suspensión o cancelación, indicando los motivos.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!--RECURSOS-->
    <section id="documentos" class="bg-azul documentos" style="background-color: #032875 !important;">
        <div class="container container-fluid">
            <div class="row pt-5 pb-5">
                <div class="col-md-12 bloque-col-mb text-white">
                    <h4>Requisitos que deben cumplir los aspirantes:</h4>
                    <p class="txt-1"></p>
                    <ol type="a">
                        <li class="mb-2">El estudiante
                            <ul>
                                <li class="mb-2 resaltado">Estar cursando grado 11</li>
                                <li class="mb-2 resaltado">Certificado de Calificación de la Institución Educativa, de mínimo en
                                    Alto o
                                    Superior de acuerdo al Decreto 1290/2009 de Mineducación</li>
                                <li class="mb-2 resaltado">Cumplir los requisitos para optar al título de Bachiller</li>
                                <li class="mb-2 resaltado">No ser beneficiario de otra beca al momento de la elección del Premio
                                </li>
                            </ul>
                        </li>
                        <li class="mb-2">Institución Educativa
                            <ul>
                                <li class="mb-2 resaltado">Estar debidamente registrada y aprobada por la Secretaría de Educación
                                    Municipal y Departamental</li>
                                <li class="mb-2 resaltado">Diligenciar y adjuntar ficha de postulación al premio, firmada por el
                                    rector. Descárguela <a href="https://bachillerbackend.comfamiliar.com/ficha_postulacion_bachiller_comfamiliar_2022.pdf" target="_blank">AQUÍ</a></li>
                                <li class="mb-2 resaltado">Adjuntar fotocopia del documento de identidad del estudiante a postular
                                    vigente</li>
                                <li class="mb-2 resaltado">Presentar acta de elección del postulado firmada por todos los miembros
                                    del Consejo
                                    Académico, donde conste el cumplimiento de los requisitos por parte del estudiante
                                </li>
                                <li class="mb-2 resaltado">Las instituciones educativas que tengan sedes, deben anexar acta
                                    administrativa
                                    expedida por el ente de control que acredite su creación</li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!--PREMIO-->
    <section id="premio" class="text-center bg-white">
        <div id="bg-premio-left"></div>
        <div id="bg-premio-right"></div>
        <div class="container container-fluid">
            <div class="row p-5">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="far fa-circle fa-stack-2x txt-azul"></i>
                        <i class="fa fa-desktop fa-stack-1x txt-azul txt-2"></i>
                    </span>
                    <h5>Recepción de postulaciones</h5>
                    <p class="txt-1">Las postulaciones se reciben a través de esta plataforma adjuntando todos los
                        documentos requeridos hasta el día viernes 18 de noviembre de 2022.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="far fa-circle fa-stack-2x txt-amarillo"></i>
                        <i class="fas fa-trophy fa-stack-1x txt-amarillo txt-2"></i>
                    </span>
                    <h5>Premiación</h5>
                    <p class="txt-1">Durante el acto de reconocimiento, se efectuará entre los postulados asistentes al
                        evento presencial, un sorteo para asignar el premio de $35.103.600, el cual será
                        distribuido en pagos parciales de $7.020.720 anuales. El ganador recibirá también
                        la estatuilla que lo reconoce como Bachiller Comfamiliar 2022.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="far fa-circle fa-stack-2x txt-morado"></i>
                        <i class="far fa-smile fa-stack-1x txt-morado txt-2"></i>
                    </span>
                    <h5>Ceremonia de elección</h5>
                    <p class="txt-1">La entrega del premio se realizará de manera presencial el viernes 25 de
                        noviembre del 2022 a las 2:00 p.m. en el Hotel Movich – Salón Sapán,
                        previamente se compartirá la invitación a los postulados para la asistencia
                        presencial al evento. Únicamente podrán estar opcionados para recibir el premio al
                        Bachiller Comfamiliar 2022, los estudiantes postulados que asistan al acto de
                        premiación.</p>
                </div>
            </div>
        </div>
    </section>

    <!--FOOTER-->

    <app-footer></app-footer>
</body>