<section id="footer" class="text-center bg-gris p-1">
    <div class="container container-fluid">
        <p class="text-white p-1 m-0 txt-1">Informes: premiobachiller@comfamiliar.com – PBX 606 3135600 ext. 2210</p>
        <div id="redes">
            <a href="https://www.facebook.com/ComfamiliarRisaralda" target="_blank"><i
                    class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/comfamiliarrisaralda/" target="_blank"><i
                    class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/ComfamiliarRda" target="_blank"><i class="fab fa-twitter-square"></i></a>
        </div>
    </div>
</section>